
<div class="container">
  
    <div class="row">
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
    
  <form [formGroup]="checkoutForm" (ngSubmit)="validarReserva()">
 
  
    <div class="form-group">
      <input id="identificacion" formControlName="identificacion"  type="text" class="form-control" placeholder="Identificación">
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
          </div></div></div></div></div>